<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success" id="navbar-main">
    <a class="navbar-brand" href="#">The Simps Quiz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">My Quizzes</a>
        <a class="nav-item nav-link" href="#">Create New Quiz</a>
      </div>

        <form method="POST" action="/logout">
          <span>

          </span>
        </form>

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Register</a>
          <a class="nav-item nav-link" href="#">Login</a>
          <button type="submit">Logout</button>
        </div>

    </div>
  </nav>
</header>
