<header>
  <nav class="navbar" id="navbar-main">
    <!-- <div id="navbar-links"> -->
    <span id="nav-link">
      <a class="navbar-brand" href="/">The Simps Quiz</a>
    </span>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span>
      </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      -->

    <div id="quiz-create-login-link">
      <div class="navbar-nav">
        <div id="nav-link">
          <a class="nav-item nav-link" href="/quizzes">My Quizzes</a>
        </div>

        <div id="nav-link">
          <a class="nav-item nav-link" href="/create">Create New Quiz</a>
        </div>
      </div>
      <!--
    </div> -->
      <!-- </div> -->

      <!-- <form method="POST" action="/logout"> </form> -->

      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" id="register-nav-link" href="#">Register</a> -->
        <a class="nav-item nav-link" id="login-nav-link" href="/login">Login</a>
        <!-- <button type="submit">Logout</button> -->
      </div>
    </div>

  </nav>
</header>
