<header>
  <nav class="navbar" id="navbar-main">

    <span id="nav-link">
      <a class="navbar-brand" href="/">The Simps Quiz</a>
    </span>


    <div id="create-login-link">
      <div class="navbar-nav">
        <div id="nav-link">
          <a class="nav-item nav-link" href="/create">Create New Quiz</a>
        </div>

        <div id="nav-link">
          <a class="nav-item nav-link" id="login-nav-link" href="/login">Login</a>
        </div>
      </div>


      <div class="navbar-nav">

      </div>
    </div>

  </nav>
</header>
