<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - The Simps Quiz</title>

  <!--External CSS-->
  <link href="https://fonts.cdnfonts.com/css/homer-simpson-revised" rel="stylesheet">

  <!--App CSS-->
  <link rel="stylesheet" href="/styles/_nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />

    <!--Client Facing JS-->
    <script type="text/javascript" src="/scripts/helpers.js"></script>

  </head>

  <body>

<h1>Congratulations!! You were correct. You are a Simpsons Expert. Have a Duff on the house</h1>

<form class = "form-inline" action = "/correct" method="POST"></form>
    </form>

  </body>
