<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Simps Quiz</title>

  <!--External CSS-->
  <link href="https://fonts.cdnfonts.com/css/homer-simpson-revised" rel="stylesheet">


  <!--App CSS-->
  <link rel="stylesheet" href="/styles/_nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />


</head>

<body>
  <%- include('partials/_navbar') %>
    <main id="content-container">

      <h1>Create your Quiz!</h1>

      <div class="quiz-create-form">
        <form class="form-inline" action="/create" method="POST">
          <div class="title-form">
            <label for="title-input" class="form_create">Title of Quiz</label>
            <input type="text" class="form-control" id="create-title" name="title">
          </div>
          <div class="description-form">
            <label for="description_input" class="form_create">Description</label>
            <input type="text" class="form-control" id="create_description" name="description">
          </div>
          <div class="creator_form">
            <label for="creator_input" class="form_create">Creator</label>
            <input type="text" class="form-control" id="create_creator" name="creator">
          </div>
          <div class="email_form">
            <label for="email_input" class="form_create">Email Address</label>
            <input type="text" class="form-control" id="create_email" name="email">
          </div>
          <div class="question_form">
            <label for="question_input" class="form_create">Question #1</label>
            <input type="text" class="form-control" id="create_question" name="question">
          </div>
          <div class="correct_answer_form">
            <label for="correct_answer_input" class="form_create">Correct Answer</label>
            <input type="text" class="form-control" id="create_correct_answer" name="answer">
          </div>
          <div class="wrong_answer_form">
            <label for="wrong_answer_input" class="form_create">wrong Answer #1 </label>
            <input type="text" class="form-control" id="create_wrong_answer1" name="incorrect1">
          </div>
          <div class="wrong_answer_form">
            <label for="wrong_answer_input" class="form_create">wrong Answer #2</label>
            <input type="text" class="form-control" id="create_wrong_answer2" name="incorrect2">
          </div>
          <div class="wrong_answer_form">
            <label for="wrong_answer_input" class="form_create">wrong Answer #3</label>
            <input type="text" class="form-control" id="create_wrong_answer3" name="incorrect3">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </main>

    <footer>
      <img id="footer-pic" src="https://i.imgur.com/I6i6QM1.png" alt="footer logo">
    </footer>
</body>


</html>
