<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - The Simps Quiz</title>

  <!--External CSS-->
  <link href="https://fonts.cdnfonts.com/css/homer-simpson-revised" rel="stylesheet">

  <!--App CSS-->
  <link rel="stylesheet" href="/styles/_nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

</head>

<body>
  <%- include('partials/_navbar') %>
    <main id="content-container">

      <div class="card-text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="POST">
            <p>
              <label class="login-label" for="email">Enter Email</label>
              <input id="email" type="email" name="email">
            </p>
            <p>
              <label class="login-label" for="password">Enter Password</label>
              <input id="password" type="password" name="password">
            </p>
            <input id="login-button" type="submit" value="Submit">

          </form>

    </main>






</body>

<footer id="family-photo">
  <div>
    <img src="https://i.imgur.com/2JGA2A3.png" alt="Simps-family">
  </div>
</footer>

</html>
