<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
  <p>Link to quiz 1</p>
  <form method="GET" action="/quizzes">
    <button type="submit" class="btn btn-primary">Quiz 1</button>
  </form>
  <p>Link to quiz 2</p>
  <form method="GET" action="/quizzes/:quiz2">
    <button type="submit" class="btn btn-primary">Quiz 2</button>
  </form>
</body>

</html>
