////////////////////////////////////**GLOBAL&DESKTOP**////////////////////////////////////

header {
  position: fixed;
  width: 100%;
}

#navbar-main {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://i.imgur.com/kulXEd1.png");
  background-position: center;
  font-family: 'Homer Simpson Revised', sans-serif;
}

#navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#quiz-create-login-link {
  display: flex;
flex-direction: row;

}

.nav-item {
  font-size: 30px;
  padding-right: 3rem;
  text-decoration: none;
}

#nav-link :hover {
  text-shadow: 3px 3px 8px turquoise;
}

#navbar-mainhover {
  flex: display;
}


.navbar-brand {
  font-weight: bold;
  font-size: 60px;
  text-decoration: none;
}


////////////////////////////////////**TABLET**////////////////////////////////////

