////////////////////////////////////////////**GLOBAL&DESKTOP//////////////////////////////////////
.row-form {
  padding-bottom: 3rem;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.row-form input {
  width: 90%;
  font-size: 25px;
  font-family: 'Homer Simpson Revised', sans-serif;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: groove;


}

label {
  width: 15%;
}

button {
  font-family: 'Homer Simpson Revised', sans-serif;
  font: 20px;
}

#public-private-label {
  font-size: 25px;
}

////////////////////////////////////**TABLET**////////////////////////////////////

@media only screen and (min-width: 480px) and (max-width: 820px) {
  .row-form {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
}



////////////////////////////////////**MOBILE**////////////////////////////////////

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
  }

  .row-form {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }

  .row-form input {
    width: 80%;
  }

  #public-private-label {
    font-size: 20px;
  }
}
