////////////////////////////////////**GLOBAL&DESKTOP**////////////////////////////////////

body::-webkit-scrollbar {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(237, 221, 238);
  opacity: 0.3;
}

.cell {
  display: inline-block;
  align-items: center;
  padding-right: 1rem;
  overflow: hidden !important;
  caption-side: bottom;
}

#description-cell {
  max-width: 50ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#header-row {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 30px;
  font-weight: 400;
  border-style: outset;
  border-width: 5px;
  border-color: rgb(235, 204, 238);
}


.quiz-row {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 30px;
  color: black;
  border-style: outset;
  border-width: 5px;
  border-color: rgb(235, 204, 238);
  text-decoration: none;
}


.quiz-row:hover {
  box-shadow: 0 0 20px rgb(253, 101, 220);
}


////////////////////////////////////**TABLET**////////////////////////////////////
