//////////////////////////////////////////////////////////**GLOBAL**/////////////////////////////////////////////////////////////////////////////////

html,
body {
  background: rgb(254,212,32);
background: linear-gradient(175deg, rgba(254,212,32,1) 24%, rgba(79,180,56,1) 50%);
  min-height: 100%;
  font-family: 'Homer Simpson Revised', sans-serif;
  margin: 0;
}


#content-container {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding-top: 130px;
  width: 90%;
  margin: 0 auto;
}


#doh {
  font-size: 50px;
  font-weight: bolder;
}


button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(254,212,32);
  width: 45px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}


button:hover {background-color: #c5d467}


button:active {
  background-color: #32e46a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


footer {
  display: flex;
  justify-content: flex-end;
}
