////////////////////////////////////**GLOBAL**////////////////////////////////////

html,
body {
  background: rgb(19,246,255);
  background: linear-gradient(0deg, rgba(19,246,255,1) 23%, rgba(254,212,32,0.9727891156462585) 93%);
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height: 100%;
  font-family: 'Homer Simpson Revised', sans-serif;
}

#content-container {
  padding-top: 130px;
  width: 90%;
  margin: 0 auto;
}


footer {
  display: flex;
  justify-content: flex-end;
}

