#content-container {
  position: absolute;
  padding-top: 120px;
  padding-left: 1rem;
  padding-right: 1rem;

  width: 90%;
}

.quiz-table-container {
// width: 90%;
}



#table-header{
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 5rem

}

.table-row {
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 5rem;
}

tbody :hover {
  box-shadow: 0 0 11px grey;
}




