/////////////////////////////////////////////////**GLOBAL&DESKTOP////////////////////////////////////////////////////

#quiz-title {
  font-size: 45px;
}

#creator-name {
  font-size: 35px;
}

#quiz-descrip {
  font-size: 25px;
}

#question-title {
  font-size: 25px;
}

#question-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 2rem;
  font-size: 25px;
}

////////////////////////////////////**TABLET**////////////////////////////////////

// @media only screen and (min-width: 480px) and (max-width: 820px) {

// }



// ////////////////////////////////////**MOBILE**////////////////////////////////////

@media only screen and (max-width: 480px) {
  #quiz-title {
    font-size: 35px;
  }

  #creator-name {
    font-size: 25px;
  }

  #quiz-descrip {
    font-size: 20px;
  }

  #question-title {
    font-size: 35px;
  }

  #question-form {
    font-size: 30px;
  }
}
