/////////////////////////////////////////////////**GLOBAL&DESKTOP////////////////////////////////////////////////////

#quiz-title {
  font-size: 45px;
}

#creator-name {
  font-size: 35px;
}

#quiz-descrip {
  font-size: 25px;
}

#question-title {
  font-size: 25px;
}

#question-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 2rem;
  font-size: 25px;
}

